body {
    color: #fff;
    background: #d8ae5b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 800px;
    border: 2px solid #fff;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_btns {
    margin-bottom: 10px;
}

.btn {
    height: 60px;
    width: 200px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid transparent;
}

.long_btn {
    width: 402px;
}

.btn:hover {
    color: #fff;
    background: #d8ae5b;
    border: 1px solid #fff;
} 

.display {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 550px;
    height: 550px;
    margin-top: 80px;
    border: 1px solid #fff;
}

.display_text {
    font-size: 24px;
    text-align: center;
    padding: 30px;
    width: 500px;
    min-height: 95px;
    border: 1px solid #fff;
}

.variables_btns {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.variables_btn{
    min-height: 35px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
}


.variables_btn:hover {
    color: #fff;
    background: #d8ae5b;
    border: 1px solid #fff;
} 


@media screen and (max-width: 600px) { 
    .page__title{
        font-size: 20px;
        text-align: center;
    }
    .wrapper{
        max-width: 270px;
        height: 605px;
    }
    .btns {
        width: 250px;
        height: 105px;
    }
    .btn{
        width: 75px;
        height: 40px;
        font-size: 14px;
    }
    .long_btn {
        width: 140px;
    }
    .display {
        width: 311px;
    }
    .display_text {
        width: 270px;
        font-size: 20px;
    }
    .question_variables {
        width: 265px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .variables_btn {
        width: 270px;
    }

}